<!DOCTYPE html>
<html>
  <head>
    <title>Udacity CS101 RPS contest !</title>
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    <link type="text/css" rel="stylesheet" href="/static/pygments.css" />
  </head>
  <body>
    <div id="header">
      <div class="header">Udacity CS101 RPS contest !</div>
      <div class="login">
          <span class="login">
              <a href="/login">{{ login }}</a>
              <a href="/signup">{{ signup }}</a>
          </span>

          <span class="welcome">{{ welcome }}</span>
      </span>
      <span class="entry_list"><a href="/">{{entry_list}}</a></span>

      <span class="submit">
          <a href="/mysubmission">{{review_old}}</a>
      </span>
      <span class="submit">
          <a href="/submit">{{submit_new}}</a>
      </span>
      <span class="logout">
          <a href="/logout">{{ logout }}</a>
      </span>
  </div>
  <br>
  {% block content %}
  {% endblock %}
  </div>
  </body>
</html>
